# Dependencies
node_modules/

# Production build output
/build
/dist

# Environment variables
.env
.env.local

# Logs and debug files
npm-debug.log*
yarn-debug.log*
*.log

# IDE and OS files
.DS_Store
.idea/
.vscode/

